.mx-n2 {
  /* margin-top: -1rem !important; */
  margin-bottom: -2rem !important;
}

.about__me-image h5 {
  margin-bottom: -5rem;
}

.invitation-message {
  text-align: center; /* Membuat teks menjadi justify */
}


.invitation-messages {
  text-align: center; /* Membuat teks menjadi justify */
}

@media screen and (max-width: 1024px) {
  .invitation-message {
    text-align: justify; /* Membuat teks menjadi justify */
  }
}
@media screen and (max-width: 600px) {
  .invitation-message {
    text-align: justify; /* Membuat teks menjadi justify */
  }
}